@section Scripts{
    <script>
    var splide = new Splide("#splide", {
        perPage: 4,
        rewind: true,
    }).mount();
    var splide = new Splide("#splide2", {
        perPage: 4,
        rewind: true,
    }).mount();
    var splide = new Splide("#splide3", {
        perPage: 4,
        rewind: true,
    }).mount();
    var splide = new Splide("#splide4", {
        perPage: 4,
        rewind: true,
    }).mount();
    var splide = new Splide("#splide5", {
        perPage: 4,
        rewind: true,
    }).mount();
</script>
}

<div>
    <div>
        <div class="row" style="padding: 0 12em;">
            <div class=" col-3"></div>
            <div class="col-9">
                <!--banner pic-->
                <div class="py-4"><img src="~/images/Banner_Skincare.webp" alt=""></div>
                <div class="settingtext d-block">New Arrivals</div>
                <div id="splide" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="settingtext d-block">Value Size</div>
                <div id="splide2" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="settingtext d-block">Best Sellers</div>
                <div id="splide3" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="settingtext d-block">Top Rated</div>
                <div id="splide4" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p4.jpeg">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="product-item px-3 text-center">
                                    <img src="~/images/p3.webp">
                                    <a class="text-center product-description" href="#">
                                        <p>Product name</p>
                                        <p class="product-price">$2000</p>
                                        <p>Detail Perscription</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="settingtext d-block">More</div>
                <div class="row">
                    <!---inset poster pic-->
                    <div class="col-3 text-center">
                        <img src="~/images/poster1.webp" alt="">
                    </div>
                    <div class="col-3 text-center">
                        <img src="~/images/poster2.webp" alt="">
                    </div>
                    <div class="col-3 text-center">
                        <img src="~/images/poster3.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>