@using Shared.Enum
@section Scripts{
    <script>
    var splide = new Splide("#splide", {
        perPage: 4,
        rewind: true,
    }).mount();
</script>
}
<div style="padding: 0 12em;">
    <!--banner pic-->
    <div class="py-4"><img src="~/images/Banner_Skincare.webp" alt=""></div>
    <!-- product slider -->
    <div class="pb-5" >
        @await Component.InvokeAsync("ProductSlider",new {categoryId= ViewBag.Cate, titleSlider=" High Price Product"})
    </div>
    <!--  product list -->
    <div class="settingtext d-block">Products</div>
    <div class="pb-5">
        <div class="row">
            <div class="col-2">
                <h4>Sort Product</h4>
                <a class="d-block text-dark"  href="product?cate=@ViewBag.Cate">All</a>
                <a class="d-block text-dark" href="product?cate=@ViewBag.Cate&&sort=@SortProduct.highPrice">High Price</a>
                <a class="d-block text-dark"  href="product?cate=@ViewBag.Cate&&sort=@SortProduct.lowPrice">Low Price</a>
            </div>
            <div class="col-10">
                <partial name="_ListProductPartial" model=@Model/>
            </div>
        </div>
    </div>
    <!-- paging -->
    <div class="pb-5 text-center" >
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            var queryString =$"cate={ViewBag.Cate}{(ViewBag.Sort == null ? "" : "&&sort="+ViewBag.Sort)}&&page={i}";
            <a class="p-3 text-dark" href="product?@queryString" >@i</a>
        }
    </div>

    <div class="settingtext d-block pb-5 ">More</div>
    <div class="row pb-5" >
        <!---inset poster pic-->
        <div class="col-3 text-center">
            <img src="~/images/poster1.webp" alt="">
        </div>
        <div class="col-3 text-center">
            <img src="~/images/poster2.webp" alt="">
        </div>
        <div class="col-3 text-center">
            <img src="~/images/poster3.webp" alt="">
        </div>
        <div class="col-3 text-center">
            <img src="~/images/poster2.webp" alt="">
        </div>
    </div>
</div>