<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/slide_2.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/slide_3.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/slide_4.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>
<!--New Arrival List-->
@await Component.InvokeAsync("ProductPreview",new {categoryId =1, titlePreview ="Hair Products"});
<!--the Poster Sliding Bar-->
@await Component.InvokeAsync("ProductPreview",new {categoryId =2, titlePreview ="Abc Products"});

<!--Value Set-->
<div class="settingtext d-block">Value Sets</div>
<div>
    <div class="row pb-5">
        <div class="col-4 text-center">
            <img src="~/images/p3.webp">
            <div class="text-center pt-3">
                <p>Product name</p>
                <p>2000

            </div>
        </div>
        <div class="col-4 text-center">
            <img src="~/images/p4.jpeg">
            <div class="text-center pt-3">
                <p>Product name</p>
                <p>2000
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="~/images/p4.jpeg">
            <div class="text-center pt-3">
                <p>Product name</p>
                <p>2000
            </div>
        </div>
    </div>
</div>
